language="nix"

hidden = ["pnpm-lock.yaml"]
onBoot = "pnpm install"
run = "pnpm run start"

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", "package.json", "pnpm-lock.yarn"]



[nix]
	channel = "stable-23_05"