language = "nix"

hidden = [".config", "pnpm-lock.yaml", "tsconfig.json"]
# onBoot = "pnpm install"
compile = """
clear
echo -e "\\033[0;31mWARNING: Please set \"Workspace Template\" to \"Blank Repl\" before importing.\\033[0m"
echo \n"""
run = "pnpm run start"

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "package.json", "pnpm-lock.yaml"]



[nix]
	channel = "stable-23_05"


[packager]
	language = "nodejs-pnpm"
	# afterInstall = "clear"

	[packager.features]
		packageSearch = true
		guessImports = true
		enabledForHosting = false